revChatGPT==6.8.6
git+https://github.com/F33RNI/EdgeGPT@main#egg=EdgeGPT
git+https://github.com/dsdanielpark/Bard-API@main
git+https://github.com/handsome0hell/md2tgmd.git@main
python-telegram-bot==20.3
openai>=0.26.4
tiktoken>=0.2.0
OpenAIAuth>=0.3.2
asyncio>=3.4.3
requests>=2.28.1
telegram>=0.0.1
psutil>=5.9.4
BingImageCreator>=0.5.0
langdetect>=1.0.9
google-generativeai >= 0.3.1
readability-lxml>=0.8.1
markdownify>=0.11.6
